# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs
*.log

# IDE settings
.vscode/
.idea/

# Test coverage reports
htmlcov/
.coverage
*.cover

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
# Environment variables
.env